---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			question: 'Dimana Saya bisa membeli Dasteric?',
			answer: `Dasteric hanya di jual di website <a class='text-primary-500 hover:text-secondary-500'  href='/'>Dasteric.com</a>, <a class='text-secondary-500 hover:text-secondary-700' href='https://www.tiktok.com/@dasteric' target='_blank'>TikTok Shop @Dasteric</a>, <a class='text-orange-600 hover:text-orange-700' href='https://www.shopee.co.id/xuiy' target='_blank'>Shopee /xuiy</a> <a class='text-green-600 hover:text-green-700' href='https://www.tokopedia.com/xuiy' target='_blank'>Tokopedia /xuiy</a> saja.`,
		},
		{
			question: 'Bahan apa yang di pakai Dasteric?',
			answer: `Dasteric menemui kekurangan dari produk-produk daster lain. Karena adanya kekurangan tersebut, Dasteric membuat versi terbaik dari sebuah daster yang bisa Kamu pakai juga sebagai benenfitnya.`,
		},
		{
			question: "Ada ga model lain selain yang Busui Resleting?",
			answer: `Tim Dasteric terus berinovasi untuk memenuhi kebutuhan Fashion di Indonesia. Untuk sekarang baru 2 model, namun tetap dengan bahan kain tanpa motif.`,
		},
	],
	[
		{
			question: "Dasteric di kirim dari mana?",
			answer: `Pakaian yang di order dari dasteric semuanya akan di kirim dari Komp. Pesantren Sirnarasa, Ciceuri, Ciomas, Panjalu, Ciamis, Jawa Barat.`,
		},
		{
			question: 'Baru sadar kalau ternyata ada garansi, itu beneran?',
			answer: `Ya! Tentu saja. Dasteric memberikan garansi jika barang yang kami kirim, salah warna, cacat, salah ukuran. Kami ganti yang baru, atau uang kembali. Tentu harus menyertakan video unboxing juga ya.`,
		},
		{
			question: 'Harga dasteric kemahalan di bandingin toko lain. Ga bisa kurang ya?',
			answer: `Harga yang tertera adalah harga terbaik dari dasteric. Dasteric menggunakan bahan terbaik di setiap produknya. Boleh di bandingkan kok. Buat kamu yang cari diskon, mungkin aja lagi ada promo di <a class='text-primary-500 hover:text-secondary-500' href='https://www.tiktok.com/@dasteric' target='_blank'>Live TikTok</a>.`,
		},
	],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
				F.A.Q
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<p class="mb-4 text-xl font-bold">
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block icon-bold" />
									{question}
								</p>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
