---
import { Icon } from 'astro-icon';

const items = [
	{
		title: 'Cocok Buat Rebahan',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:home',
	},
	{
		title: 'Siang & Malam',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'noto:last-quarter-moon',
	},
	{
		title: 'Siap Mendengarkan',
		description:
			'Ada keluhan? Yuk bikin Daster yang Kamu mau di Dasteric. Kasih tau yang lain apa selera Kamu.',
		icon: 'flat-color-icons:headset',
	},
	{
		title: 'Liburan',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'noto:desert-island',
	},
	{
		title: 'Harga Dasteric',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:calculator',
	},
	{
		title: 'Testimonial',
		description:
			'Testimonial nya belum ada, baru buka soalnya kan Buuun. Biarin deh, daripada pake testi palsu. 🤣',
		icon: 'flat-color-icons:voice-presentation',
	},
];
---

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Kekuatan Super Dasteric?</p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Daster ya harus <span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">Dasteric</span>
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					Beli di <span class="text-orange-400">Oren</span>, <span class="text-green-400">Hijau</span>, dan <span class="text-blue-700">Biru</span> ada aja kurangnya? Bandingkan dengan Dasteric.
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon }) => (
						<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div class="flex items-center mb-4">
								<Icon name={icon} class="w-12 h-12" />

								<div class="ml-4 text-xl font-bold">{title}</div>
							</div>
							<p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section><svg width="100%" height="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
	.path-0{
	  animation:pathAnim-0 4s;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	}
	@keyframes pathAnim-0{
	  0%{
		d: path("M 0,400 C 0,400 0,80 0,80 C 94.1531100478469,73.7511961722488 188.3062200956938,67.50239234449761 289,62 C 389.6937799043062,56.49760765550239 496.92822966507174,51.74162679425838 597,53 C 697.0717703349283,54.25837320574162 789.9808612440193,61.531100478468886 885,69 C 980.0191387559807,76.46889952153111 1077.1483253588517,84.13397129186603 1170,86 C 1262.8516746411483,87.86602870813397 1351.4258373205741,83.93301435406698 1440,80 C 1440,80 1440,400 1440,400 Z");
	  }
	  25%{
		d: path("M 0,400 C 0,400 0,80 0,80 C 81.8468899521531,79.52153110047847 163.6937799043062,79.04306220095694 259,71 C 354.3062200956938,62.95693779904307 463.07177033492826,47.34928229665073 574,53 C 684.9282296650717,58.65071770334927 798.0191387559809,85.5598086124402 889,95 C 979.9808612440191,104.4401913875598 1048.8516746411483,96.41148325358853 1137,91 C 1225.1483253588517,85.58851674641147 1332.5741626794259,82.79425837320574 1440,80 C 1440,80 1440,400 1440,400 Z");
	  }
	  50%{
		d: path("M 0,400 C 0,400 0,80 0,80 C 77.97129186602868,87.60765550239233 155.94258373205736,95.21531100478468 251,98 C 346.05741626794264,100.78468899521532 458.2009569377991,98.7464114832536 566,98 C 673.7990430622009,97.2535885167464 777.2535885167465,97.79904306220095 884,91 C 990.7464114832535,84.20095693779905 1100.7846889952154,70.05741626794259 1194,67 C 1287.2153110047846,63.942583732057415 1363.6076555023924,71.97129186602871 1440,80 C 1440,80 1440,400 1440,400 Z");
	  }
	  75%{
		d: path("M 0,400 C 0,400 0,80 0,80 C 82.90909090909093,72.69856459330143 165.81818181818187,65.39712918660287 252,65 C 338.18181818181813,64.60287081339713 427.6363636363636,71.11004784688996 536,79 C 644.3636363636364,86.88995215311004 771.6363636363635,96.16267942583733 888,92 C 1004.3636363636365,87.83732057416267 1109.818181818182,70.23923444976077 1200,66 C 1290.181818181818,61.760765550239235 1365.090909090909,70.88038277511961 1440,80 C 1440,80 1440,400 1440,400 Z");
	  }
	  100%{
		d: path("M 0,400 C 0,400 0,80 0,80 C 94.1531100478469,73.7511961722488 188.3062200956938,67.50239234449761 289,62 C 389.6937799043062,56.49760765550239 496.92822966507174,51.74162679425838 597,53 C 697.0717703349283,54.25837320574162 789.9808612440193,61.531100478468886 885,69 C 980.0191387559807,76.46889952153111 1077.1483253588517,84.13397129186603 1170,86 C 1262.8516746411483,87.86602870813397 1351.4258373205741,83.93301435406698 1440,80 C 1440,80 1440,400 1440,400 Z");
	  }
	}</style><defs><linearGradient id="gradient" x1="47%" y1="0%" x2="53%" y2="100%"><stop offset="5%" stop-color="#9900ef"></stop><stop offset="95%" stop-color="#f78da7"></stop></linearGradient></defs><path d="M 0,400 C 0,400 0,80 0,80 C 94.1531100478469,73.7511961722488 188.3062200956938,67.50239234449761 289,62 C 389.6937799043062,56.49760765550239 496.92822966507174,51.74162679425838 597,53 C 697.0717703349283,54.25837320574162 789.9808612440193,61.531100478468886 885,69 C 980.0191387559807,76.46889952153111 1077.1483253588517,84.13397129186603 1170,86 C 1262.8516746411483,87.86602870813397 1351.4258373205741,83.93301435406698 1440,80 C 1440,80 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.265" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path><style>
	.path-1{
	  animation:pathAnim-1 4s;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	}
	@keyframes pathAnim-1{
	  0%{
		d: path("M 0,400 C 0,400 0,160 0,160 C 70.90909090909093,160.29665071770336 141.81818181818187,160.5933014354067 240,165 C 338.18181818181813,169.4066985645933 463.6363636363636,177.92344497607655 583,181 C 702.3636363636364,184.07655502392345 815.6363636363635,181.71291866028707 902,180 C 988.3636363636365,178.28708133971293 1047.8181818181818,177.22488038277513 1133,174 C 1218.1818181818182,170.77511961722487 1329.090909090909,165.38755980861242 1440,160 C 1440,160 1440,400 1440,400 Z");
	  }
	  25%{
		d: path("M 0,400 C 0,400 0,160 0,160 C 86.88038277511961,152.95693779904306 173.76076555023923,145.91387559808612 287,141 C 400.2392344497608,136.08612440191388 539.8373205741626,133.30143540669857 625,147 C 710.1626794258374,160.69856459330143 740.8899521531101,190.88038277511964 820,188 C 899.1100478468899,185.11961722488036 1026.6028708133972,149.17703349282297 1138,139 C 1249.3971291866028,128.82296650717703 1344.6985645933014,144.41148325358853 1440,160 C 1440,160 1440,400 1440,400 Z");
	  }
	  50%{
		d: path("M 0,400 C 0,400 0,160 0,160 C 78.70813397129191,173.3397129186603 157.41626794258383,186.6794258373206 256,185 C 354.58373205741617,183.3205741626794 473.0430622009568,166.62200956937798 570,165 C 666.9569377990432,163.37799043062202 742.4114832535886,176.8325358851675 836,179 C 929.5885167464114,181.1674641148325 1041.311004784689,172.04784688995215 1145,167 C 1248.688995215311,161.95215311004785 1344.3444976076555,160.97607655502392 1440,160 C 1440,160 1440,400 1440,400 Z");
	  }
	  75%{
		d: path("M 0,400 C 0,400 0,160 0,160 C 77.22488038277513,168.38277511961724 154.44976076555025,176.76555023923447 243,175 C 331.55023923444975,173.23444976076553 431.42583732057415,161.3205741626794 531,158 C 630.5741626794259,154.6794258373206 729.846889952153,159.95215311004787 842,154 C 954.153110047847,148.04784688995213 1079.1866028708134,130.87081339712918 1181,130 C 1282.8133971291866,129.12918660287082 1361.4066985645932,144.56459330143542 1440,160 C 1440,160 1440,400 1440,400 Z");
	  }
	  100%{
		d: path("M 0,400 C 0,400 0,160 0,160 C 70.90909090909093,160.29665071770336 141.81818181818187,160.5933014354067 240,165 C 338.18181818181813,169.4066985645933 463.6363636363636,177.92344497607655 583,181 C 702.3636363636364,184.07655502392345 815.6363636363635,181.71291866028707 902,180 C 988.3636363636365,178.28708133971293 1047.8181818181818,177.22488038277513 1133,174 C 1218.1818181818182,170.77511961722487 1329.090909090909,165.38755980861242 1440,160 C 1440,160 1440,400 1440,400 Z");
	  }
	}</style><defs><linearGradient id="gradient" x1="47%" y1="0%" x2="53%" y2="100%"><stop offset="5%" stop-color="#9900ef"></stop><stop offset="95%" stop-color="#f78da7"></stop></linearGradient></defs><path d="M 0,400 C 0,400 0,160 0,160 C 70.90909090909093,160.29665071770336 141.81818181818187,160.5933014354067 240,165 C 338.18181818181813,169.4066985645933 463.6363636363636,177.92344497607655 583,181 C 702.3636363636364,184.07655502392345 815.6363636363635,181.71291866028707 902,180 C 988.3636363636365,178.28708133971293 1047.8181818181818,177.22488038277513 1133,174 C 1218.1818181818182,170.77511961722487 1329.090909090909,165.38755980861242 1440,160 C 1440,160 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-1" transform="rotate(-180 720 200)"></path><style>
	.path-2{
	  animation:pathAnim-2 4s;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	}
	@keyframes pathAnim-2{
	  0%{
		d: path("M 0,400 C 0,400 0,240 0,240 C 84.62200956937798,241.38755980861245 169.24401913875596,242.7751196172249 281,250 C 392.75598086124404,257.2248803827751 531.6459330143541,270.2870813397129 621,261 C 710.3540669856459,251.71291866028707 750.1722488038278,220.07655502392345 841,218 C 931.8277511961722,215.92344497607655 1073.665071770335,243.40669856459328 1182,252 C 1290.334928229665,260.5933014354067 1365.1674641148325,250.29665071770336 1440,240 C 1440,240 1440,400 1440,400 Z");
	  }
	  25%{
		d: path("M 0,400 C 0,400 0,240 0,240 C 105.61722488038276,228.7464114832536 211.23444976076553,217.4928229665072 305,218 C 398.76555023923447,218.5071770334928 480.67942583732054,230.77511961722482 580,238 C 679.3205741626795,245.22488038277518 796.0478468899521,247.40669856459334 892,239 C 987.9521531100479,230.59330143540666 1063.129186602871,211.5980861244019 1151,210 C 1238.870813397129,208.4019138755981 1339.4354066985645,224.20095693779905 1440,240 C 1440,240 1440,400 1440,400 Z");
	  }
	  50%{
		d: path("M 0,400 C 0,400 0,240 0,240 C 90.85167464114832,231.5311004784689 181.70334928229664,223.0622009569378 286,221 C 390.29665071770336,218.9377990430622 508.0382775119617,223.2822966507177 606,229 C 703.9617224880383,234.7177033492823 782.1435406698565,241.8086124401914 869,237 C 955.8564593301435,232.1913875598086 1051.3875598086127,215.48325358851673 1148,214 C 1244.6124401913873,212.51674641148327 1342.3062200956938,226.25837320574163 1440,240 C 1440,240 1440,400 1440,400 Z");
	  }
	  75%{
		d: path("M 0,400 C 0,400 0,240 0,240 C 123.23444976076556,235.7224880382775 246.4688995215311,231.44497607655504 327,228 C 407.5311004784689,224.55502392344496 445.3588516746411,221.9425837320574 523,230 C 600.6411483253589,238.0574162679426 718.0956937799043,256.78468899521533 841,257 C 963.9043062200957,257.21531100478467 1092.2583732057415,238.91866028708137 1193,233 C 1293.7416267942585,227.08133971291863 1366.8708133971293,233.54066985645932 1440,240 C 1440,240 1440,400 1440,400 Z");
	  }
	  100%{
		d: path("M 0,400 C 0,400 0,240 0,240 C 84.62200956937798,241.38755980861245 169.24401913875596,242.7751196172249 281,250 C 392.75598086124404,257.2248803827751 531.6459330143541,270.2870813397129 621,261 C 710.3540669856459,251.71291866028707 750.1722488038278,220.07655502392345 841,218 C 931.8277511961722,215.92344497607655 1073.665071770335,243.40669856459328 1182,252 C 1290.334928229665,260.5933014354067 1365.1674641148325,250.29665071770336 1440,240 C 1440,240 1440,400 1440,400 Z");
	  }
	}</style><defs><linearGradient id="gradient" x1="47%" y1="0%" x2="53%" y2="100%"><stop offset="5%" stop-color="#9900ef"></stop><stop offset="95%" stop-color="#f78da7"></stop></linearGradient></defs><path d="M 0,400 C 0,400 0,240 0,240 C 84.62200956937798,241.38755980861245 169.24401913875596,242.7751196172249 281,250 C 392.75598086124404,257.2248803827751 531.6459330143541,270.2870813397129 621,261 C 710.3540669856459,251.71291866028707 750.1722488038278,220.07655502392345 841,218 C 931.8277511961722,215.92344497607655 1073.665071770335,243.40669856459328 1182,252 C 1290.334928229665,260.5933014354067 1365.1674641148325,250.29665071770336 1440,240 C 1440,240 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-2" transform="rotate(-180 720 200)"></path><style>
	.path-3{
	  animation:pathAnim-3 4s;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	}
	@keyframes pathAnim-3{
	  0%{
		d: path("M 0,400 C 0,400 0,320 0,320 C 120.58373205741626,311.7129186602871 241.1674641148325,303.4258373205742 337,307 C 432.8325358851675,310.5741626794258 503.9138755980862,326.00956937799043 596,327 C 688.0861244019138,327.99043062200957 801.1770334928229,314.5358851674641 907,314 C 1012.8229665071771,313.4641148325359 1111.377990430622,325.8468899521531 1199,329 C 1286.622009569378,332.1531100478469 1363.311004784689,326.07655502392345 1440,320 C 1440,320 1440,400 1440,400 Z");
	  }
	  25%{
		d: path("M 0,400 C 0,400 0,320 0,320 C 71.2248803827751,329.42583732057415 142.4497607655502,338.85167464114835 249,330 C 355.5502392344498,321.14832535885165 497.42583732057426,294.01913875598086 602,294 C 706.5741626794257,293.98086124401914 773.846889952153,321.07177033492826 851,332 C 928.153110047847,342.92822966507174 1015.1866028708134,337.69377990430627 1115,333 C 1214.8133971291866,328.30622009569373 1327.4066985645932,324.1531100478469 1440,320 C 1440,320 1440,400 1440,400 Z");
	  }
	  50%{
		d: path("M 0,400 C 0,400 0,320 0,320 C 131.82775119617227,322.54545454545456 263.65550239234454,325.0909090909091 341,327 C 418.34449760765546,328.9090909090909 441.2057416267942,330.18181818181813 529,336 C 616.7942583732058,341.81818181818187 769.5215311004785,352.1818181818182 893,343 C 1016.4784688995215,333.8181818181818 1110.7081339712918,305.09090909090907 1197,298 C 1283.2918660287082,290.90909090909093 1361.6459330143541,305.4545454545455 1440,320 C 1440,320 1440,400 1440,400 Z");
	  }
	  75%{
		d: path("M 0,400 C 0,400 0,320 0,320 C 105.99043062200957,325.42583732057415 211.98086124401914,330.85167464114835 321,336 C 430.01913875598086,341.14832535885165 542.066985645933,346.01913875598086 622,344 C 701.933014354067,341.98086124401914 749.7511961722488,333.07177033492826 827,321 C 904.2488038277512,308.92822966507174 1010.9282296650717,293.6937799043062 1118,293 C 1225.0717703349283,292.3062200956938 1332.5358851674641,306.1531100478469 1440,320 C 1440,320 1440,400 1440,400 Z");
	  }
	  100%{
		d: path("M 0,400 C 0,400 0,320 0,320 C 120.58373205741626,311.7129186602871 241.1674641148325,303.4258373205742 337,307 C 432.8325358851675,310.5741626794258 503.9138755980862,326.00956937799043 596,327 C 688.0861244019138,327.99043062200957 801.1770334928229,314.5358851674641 907,314 C 1012.8229665071771,313.4641148325359 1111.377990430622,325.8468899521531 1199,329 C 1286.622009569378,332.1531100478469 1363.311004784689,326.07655502392345 1440,320 C 1440,320 1440,400 1440,400 Z");
	  }
	}</style><defs><linearGradient id="gradient" x1="47%" y1="0%" x2="53%" y2="100%"><stop offset="5%" stop-color="#9900ef"></stop><stop offset="95%" stop-color="#f78da7"></stop></linearGradient></defs><path d="M 0,400 C 0,400 0,320 0,320 C 120.58373205741626,311.7129186602871 241.1674641148325,303.4258373205742 337,307 C 432.8325358851675,310.5741626794258 503.9138755980862,326.00956937799043 596,327 C 688.0861244019138,327.99043062200957 801.1770334928229,314.5358851674641 907,314 C 1012.8229665071771,313.4641148325359 1111.377990430622,325.8468899521531 1199,329 C 1286.622009569378,332.1531100478469 1363.311004784689,326.07655502392345 1440,320 C 1440,320 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-3" transform="rotate(-180 720 200)"></path></svg>
